.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card_type {
  display: flex;
  align-items: flex-start;
}
.front {
  width: 600px;
  height: 400px;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  transform: rotateY(0deg);
  position: absolute;
  cursor: pointer;
  background-color: #2e3856;
  border-radius: 10px;
}
.flipped .front {
  transition-delay: 0s;
  transform: rotateY(90deg);
}
.flipped .card_hover {
  background-color: red;
}
.back {
  width: 600px;
  height: 400px;
  transition: all ease-in 0.2s;
  transition-delay: 0s;
  transform: rotateY(90deg);
  cursor: pointer;
  background-color: #2e3856;
  border-radius: 10px;
}
.flipped .back {
  transition-delay: 0.2s;
  transform: rotateY(0deg);
}
.card_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top_card {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid_bottom_card {
  height: 85%;
  overflow-y: scroll;
  // scrollbar-color: #2e3856;
}

.card_type {
  height: 10%;

  p {
    padding-left: 20px;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.card_text {
  min-height: 80%;
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.card_text_content {
  text-align: center;
}

@media (max-width: 915px) {
  .front,
  .back {
    width: 500px;
  }
  .card_type {
    p {
      font-size: 20px;
      padding-left: 10px;
    }
  }

  .card_text {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 520px) {
  .front,
  .back {
    width: 360px;
  }
  .card_type {
    p {
      font-size: 16px;
    }
  }

  .card_text {
    font-size: 16px;
  }
}
