.cards_wrapper {
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  margin-top: 60px;
  overflow-y: scroll;
}
