.wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}
